:root {
    --preto: #000000;
    --azul_principal: #1B76E0;
    --azul_escuro: #090E2C;
    --branco: #FFFFFF;
    --cinza_escuro: #393939;
    --cinza_claro: #C4C4C4;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: var(--preto);
}
