header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 3rem;
    color: var(--branco);
}

.logo strong {
    color: var(--azul_principal)
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itens_menu {
    margin-left: 3rem;
    color: var(--branco);
    text-decoration: none;
}

.selecionado {
    color: var(--azul_principal);
}

.container {
    width: 65%;
    margin: 0 auto 30px;
    background-color: var(--azul_escuro);
    min-height: 800px;

    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    border-radius: 30px;
}

.informacoes_academicas {
    width: 33%;
    margin-bottom: 30px;
}

.foto_perfil {
    margin: 20px 10%;
    width: 80%;
    border-radius: 100%;
}

.texto_informacoes {
    color: var(--branco);
    font-size: 1.2rem;
    padding: .5rem 1rem;
    line-height: 2rem;
}

.informacoes_academicas strong {
    color: var(--azul_principal);
    font-weight: bold;
}

.informacoes_pessoais {
    width: 66%;
    background-color: var(--branco);
    border-radius: 30px;
}

.informacoes_pessoais h2 {
    text-align: center;
    color: var(--azul_principal);
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
}

.informacoes_pessoais section {
    margin-bottom: 2rem;
}

.informacoes_pessoais h3 {
    color: var(--azul_principal);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.informacoes_pessoais p {
    color: var(--cinza_escuro);
}

.espaco_botao {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.espaco_botao a {
    text-align: center;
    background-color: var(--azul_principal);
    color: var(--branco);
    width: 30%;
    text-decoration: none;
    padding: .8rem;
    border-radius: 5px;
}