header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 3rem;
    color: var(--branco);
}

.logo strong {
    color: var(--azul_principal)
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itens_menu {
    margin-left: 3rem;
    color: var(--branco);
    text-decoration: none;
}

.selecionado {
    color: var(--azul_principal);
}

main {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.foto_perfil {
    
}